# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

#  Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.auto.tfvars
backend.tf
terraform.log

# Certificates
*.cer
*.der
*.p12
*.pfx
*.pem

# VSCode
**/.vscode/*
*.code-workspace

# macOS
*.DS_Store

# Ignore temp files
*.*_
tmp*.*
*.tmp
err.out
*.~*
~*.*
*.log